.accordion-container {
  padding: 80px 20px;
}

.accordian-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5eaf4;
  padding-top: 35px;
  padding-bottom: 35px;
}

.accordian-wrapper:nth-child(1) {
  padding-top: 0px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 24px; */
  cursor: pointer;
  height: 27px;
}

.title {
  color: #333;

  /* Desktop/H5/Medium */
  font-family: var(--medium);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  /* 27px */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-content {
  font-family: var(--medium);
  font-size: 16px;
  line-height: 28px;
  color: #535564;
  max-height: 0;
  overflow: hidden;
  transition: height 0.25s linear;
}

.accordion-content-open {
  visibility: visible;
  max-height: 500px;
  font-family: var(--medium);
  font-size: 16px;
  line-height: 28px;
  color: #535564;
  margin-top: 40px;
  transition: max-height 0.5s linear;
  margin-bottom: -16px;
}

@media (min-width: 1440px) {
  .accordion-container {
    width: 950px;
    padding: 0px 20px;
  }
}
